################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BackstageSolution/.vs
/BackstageSolution/Backstage.Models/bin/Debug/netcoreapp2.0
/BackstageSolution/Backstage.Models/obj
/BackstageSolution/Backstage.WebApi/bin/Debug/netcoreapp2.0
/BackstageSolution/Backstage.WebApi/obj
